# Cluster of 3 signers, no RPC server
version: "3"
services:
  bootstrap:
    build: .
    command: ["bootstrap-node", "-p", "34001"]
    environment:
      TUPELO_NODE_BLS_KEY_HEX: "0x1ef1cf13d52b2dbf3134d7fff6aa617c5cdac42ed89bd20007bfc93d00f0d0c6"
      TUPELO_NODE_ECDSA_KEY_HEX: "0xe2c0b170c56ff0bf08c7376f1ca4bd5cbe481a85f6cdb3de609863e25dce613a"
    networks:
      default:
        ipv4_address: 172.16.238.10
    ports:
      - "34001:34001"
  node0:
    build: .
    volumes:
      # - .storage:/var/lib/tupelo/.storage:delegated
      - ./cmd/testnode-local-keys:/bootstrap-keys
    command: ["test-node", "-k", "/bootstrap-keys"]
    environment:
      TUPELO_NODE_BLS_KEY_HEX: "0x74602d5c6265e53c643319309b94ee31294c63696a498735fb7d0d4d04ed862a"
      TUPELO_NODE_ECDSA_KEY_HEX: "0x44265d8560374e7febc3ab15919f3576a7edf7010728254093b7db08b7269b34"
      TUPELO_BOOTSTRAP_NODES: "/ip4/172.16.238.10/tcp/34001/ipfs/16Uiu2HAm3TGSEKEjagcCojSJeaT5rypaeJMKejijvYSnAjviWwV5"
  node1:
    build: .
    volumes:
      # - .storage:/var/lib/tupelo/.storage:delegated
      - ./cmd/testnode-local-keys:/bootstrap-keys
    command: ["test-node", "-k", "/bootstrap-keys"]
    environment:
      TUPELO_NODE_BLS_KEY_HEX: "0x21b41a603769a2bfe73b0c98a95ef336b749d8afd882a641a234fd193465b5dc"
      TUPELO_NODE_ECDSA_KEY_HEX: "0xbe65d548d1c6697ab7a43f9c1e4611bfbc835b5ba49b74e1b3f5745601521a8a"
      TUPELO_BOOTSTRAP_NODES: "/ip4/172.16.238.10/tcp/34001/ipfs/16Uiu2HAm3TGSEKEjagcCojSJeaT5rypaeJMKejijvYSnAjviWwV5"
  node2:
    build: .
    volumes:
      # - .storage:/var/lib/tupelo/.storage:delegated
      - ./cmd/testnode-local-keys:/bootstrap-keys
    command: ["test-node", "-k", "/bootstrap-keys"]
    environment:
      TUPELO_NODE_BLS_KEY_HEX: "0x2359ac18000fabc4eb17f94995a6507ee10f2845d6f2399679c66a1a4d0ae98e"
      TUPELO_NODE_ECDSA_KEY_HEX: "0x584e484ec64007e30e55aeaf61d627a98af094608a43006a7d98bfd019df5995"
      TUPELO_BOOTSTRAP_NODES: "/ip4/172.16.238.10/tcp/34001/ipfs/16Uiu2HAm3TGSEKEjagcCojSJeaT5rypaeJMKejijvYSnAjviWwV5"
networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
