# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "1.2.0"

# v1.4 (the latest tagged) does not work with ishell
[[override]]
  name = "github.com/chzyer/readline"
  revision = "f6d7a1f6fbf35bbf9beb80dc63c56a29dcfb759f"

[[constraint]]
  name = "github.com/abiosoft/ishell"
  revision = "a1085105335bd19f4101afe99e02948a0b41bf15"

[[constraint]]
  name = "github.com/ethereum/go-ethereum"
  revision = "1e67410e88d2685bc54611a7c9f75c327b553ccc"

[[constraint]]
  name = "github.com/quorumcontrol/chaintree"
  version = "v3.0.4"
  source = "git@github.com:quorumcontrol/chaintree.git"

[[constraint]]
  name = "github.com/quorumcontrol/differencedigest"
  version = "v0.0.2"

[[constraint]]
  name = "github.com/quorumcontrol/storage"
  source = "git@github.com:quorumcontrol/storage.git"
  version = "v1.1.0"

[[constraint]]
  name = "github.com/gorilla/mux"
  version = "1.6.2"

[[constraint]]
  name = "github.com/dedis/kyber"
  source = "https://github.com/quorumcontrol/kyber.git"
  revision = "189774c4cc923eb3772a72eecbb50cec5eaf2610"

[[constraint]]
  name = "github.com/tinylib/msgp"
  version = "1.1.0"